@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: url('/images/mouse/Cursor.png'), auto;
  background: url('/images/폰배경.jpg') center center / cover no-repeat;
  min-height: 100vh;
}

/* 스크롤바 */  
::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { background: white; }
::-webkit-scrollbar-thumb { background: #44B7CF; border-radius: 8px; }
::-webkit-scrollbar-thumb:hover { background: #369EBC; }

/* hover 커서 */
button:hover, a:hover, input:hover, textarea:hover, select:hover, label:hover {
  cursor: url('/images/mouse/Cursor.hover.png'), auto !important;
}

/* 클릭 커서 */
button:active, a:active, input:active, textarea:active, select:active, label:active {
  cursor: url('/images/mouse/Cursor.click.png'), auto !important;
}

img.cursor-custom:hover {
  cursor: url('/images/mouse/Cursor.hover.png'), auto !important;
}
img.cursor-custom:active {
  cursor: url('/images/mouse/Cursor.click.png'), auto !important;
}

/* 스크롤 커서 */
.scrollable-area, .scrollable-area:active, .scrollable-area:hover {
  cursor: url('/images/mouse/Cursor.scroll.png'), auto !important;
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'KOHIBaeum';
  src: url('/fonts/KOHIBaeum.ttf') format('truetype');
}

@font-face {
  font-family: 'KoPubWorldDotum';
  src: url('/fonts/KoPubWorldDotum.ttf') format('truetype');
}

@font-face {
  font-family: 'KoPubWorldDotumLight';
  src: url('/fonts/KoPubWorldDotumLight.ttf') format('truetype');
}

@font-face {
    font-family: 'dalmoori';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/dalmoori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
}